body
{
    background-color: #f4efe7;
}

.gradient
{
    background: rgb(42,24,13);
    background: linear-gradient(90deg, rgba(42,24,13,1) 0%, rgba(88,117,91,0) 66%);
}

h1
{
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}
